<template>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center padding-top-bot-25px">
                <hr>
                <h1>
                    Register yourself and your friends for upcoming event!
                </h1>
                <hr>
            </div>
            <div class="col-md-8">
                <div class="col-md-12"
                     v-for="(friend, index) in friends"
                     :key="index">
                    <form class="apply-form " :v-bind:id="'form-' + index">
                        <div class="form-group" v-if="index !== 0">
                            <button type="button"
                                    class="btn btn-secondary float-right"
                                    @click="removeRecord(index)"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="name">
                                Name
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control "
                                       :class="{ 'is-invalid': (Object.keys( violations ).indexOf(`${index}.name`) > -1) }"
                                       id="name"
                                       placeholder="Name"
                                       v-model="friend.name"
                                >
                                <div class="invalid-feedback"
                                     v-for="(value, key, violationIndex) in violations"
                                     v-show="key.substring(0, 1) == index "
                                     :key="violationIndex"
                                >
                                    <span v-show="key === `${index}.name` &&
                                     key.substring(255, key.indexOf('.') + 1) == 'name'">
                                        {{ value[0] }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="phone">
                                Phone
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control "
                                       :class="{ 'is-invalid': (Object.keys( violations ).indexOf(`${index}.phone`) > -1) }"
                                       id="phone"
                                       placeholder="123-123-123"
                                       v-model="friend.phone"
                                >
                                <div class="invalid-feedback"
                                     v-for="(value, key, violationIndex) in violations"
                                     v-show="key.substring(0, 1) == index "
                                     :key="violationIndex"
                                >
                                  <span v-show="key === `${index}.phone` &&
                                     key.substring(255, key.indexOf('.') + 1) == 'phone'">
                                        {{ value[0] }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="clearfix"></div>
                <div class="btn-group float-right">
                    <button type="button"
                            class="btn btn-success "
                            @click="apply"
                            v-show="formSending === false"
                            :disabled="friends.length <= 0"
                    >
                        <i class="fa fa-check"></i>
                        Apply
                    </button>
                    <button type="button"
                            class="btn btn-success "
                            v-show="formSending === true"
                            disabled
                    >
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                    <button type="button"
                            class="btn btn-info "
                            @click="addFriend">
                        <i class="fa fa-user-plus"></i>
                        Add Friend
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                friends: [],
                violations: [],
                error: '',
                formSending: false,
            }
        },
        methods: {
            addFriend() {
                this.friends.push({});
            },
            removeRecord(index) {
                this.friends.splice(index, 1);
            },
            apply() {
                let self = this;
                if (self.formSending) return;
                self.formSending = true;
                self.error = '';
                axios.post(`api/submit`, this.friends)
                    .then(response => {
                        if (response.data.created) {
                            alert('Success! Thanks for application');
                            this.friends = [];
                        }
                        if (response.data.errors) {
                            self.error = response.data.message;
                        }
                        if (response.data.violations) {
                            self.violations = response.data.violations;
                        }
                        self.formSending = false;
                    });
            },
        },
    }
</script>
