@font-face {
  font-family: Droid Serif, sans-serif;
}

* {
  font-family: Droid Serif, sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}

.apply-form {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.padding-top-bot-25px {
  padding: 25px 0 25px 0;
}

